asgiref==3.8.1
coverage==7.6.9
Django==5.1.4
django-cors-headers==4.6.0
django-stubs==5.1.1
django-stubs-ext==5.1.1
flake8==7.1.1
isort==5.13.2
mccabe==0.7.0
pillow==11.0.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
python-decouple==3.8
sqlparse==0.5.3
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
